.whitecolor{
 color:black;
}

.changeset117{
 font-size: 32px;
 font-weight: lighter;
 margin-top: 62px;
}

.changeset118{
 font-size: 24px;
 font-weight: lighter;
 margin-top: 47px;
}

.changeinput146 {
 margin-top: -4px;

}

.changeinputcolor25454{
 color: black;
 height: 22px !important;
}

.changeinputbckimg125{
 background-image: url("../img/cam2.png");
 background-repeat: no-repeat;
 background-position: 158px -1px;
}

.changeinput452585544 {
 margin-top: -4px;
 width: 212px;
 margin-left: -18px;
 padding-top: 9px;
 padding-bottom: 9px;
}

.changewidth122{
 width: 99%;
 margin-left: 7px;
}

.changeinputcolor25454{
 color: black;
 height: 22px !important;
}