.margin-01 {
  margin-top: 46px;
}

.Img-01 {
  width: 50%;
}

.margin-02 {
  margin-top: 100px;
}

.border-01 {
  border-top: 0px;
}

.imgwidth-01 {
  width: 46%;
}

.sizeOfFont-01 {
  font-size: 21px;
}

.margin-03 {
  margin-top: 6%;
}

.bordertop-01 {
  border-top: 0px !important;
}

.buttonMargin-01 {
  margin-top: 0px !important;
  font-size: 18px !important;
}
.title{
  text-align: center !important;
}
.textcenter{
  text-align: center !important;
}
.buttonset-01{
  margin-top: 43px;
}
.imageset{
  width: 132px;
  height: 132px;
}
.changebckgroundcolor-01{
  background-color: #7fbf3f !important;
  border-color: #7fbf3f !important;
}
.changebckgroundcolor-02{
  color: black !important;
  text-decoration: none !important;
}
.changebordercolor-01{
  border: 0px;
  border-bottom: 2px solid #ebe7e7;
}
.changemarign-03{
  margin-top: 6px !important;
}
.changecolor-04{
  color: #b3b3b3 !important;
  font-size: 15px;
}
.changecolor-05{
  position: absolute;
}
.changecolor-06{
  margin-top: 150px;
}
.setbutton45566 {
  width: 100%;
  border: 0px;
  font-size: 17px !important;
}
.ion-ios-close-outline{
  color: black !important;
}
.changecolor-50{
  width: 100%;
  height: 263px;
}
.changecolor-51{
  padding: 15px;
}
.changecolor-52{
  border-radius: 43px;
}
.changecolor-54{
  margin-top: -91px !important;
}
.changecolor-55{
  margin-left: 17px !important;
}
.changecolor-56{
  margin-top: -6px;
  color: white !important;
}

.changecolor-57{
  line-height: 110px !important;
  border-radius: 70px !important;
  max-width: 114px !important;

}
.changecolor-58{
  margin-left: 14px !important;
}
.changecolor-59{
  margin-top: 43px !important;
}
.changecolor-60{
  font-size: 32px;
  margin-top: 16px;
  text-align: center;
  font-weight: 600;
}
.changecolor-61{
  box-shadow: 0px 5px 13px 0px #888888;
}

.changecolor-61:hover {
  background-color: #b0b01d !important
}

.changecolor-62{
  box-shadow: 0px 5px 13px 0px #888888;
}
.changecolor-63{
  border-radius: 49px;
}
